.saxophone {
   font-size: 100px;
}

.saxo_img {
   background: transparent;
}

 .saxophone {
   position: relative;
 }

 .imageWrapper {
   position: absolute;
   top: 230px;
   right: 100px;
 }

 .keys {
   display: flex;
   gap: 30px;
   flex-direction: column;
   padding-top: 200px;
 }

 .main {
   display: flex;
 }